.App {
  text-align: center;
}

body {
  font-family: "Open Sans", sans-serif;
  flex-wrap: wrap;
  background: #000000f3;
}

.general_container {
  text-align: center;
  padding-top: 10rem;
}

.title {
  font-size: 6rem;

  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: whitesmoke;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.para_text2 {
  font-size: 0.8rem;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  max-width: 30rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: #888;
  letter-spacing: 0.4rem;
}

.para_text {
  font-size: 1.2rem;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: #888;
}


.input_class {
  display: flex;
  align-items: center;
  width: 19rem!important;
  margin: 0 auto;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 4px;
}

.input_class:focus {
  border: 0.1px solid #ff9100;
  animation: hue 10s infinite linear;
}

.Validate_btn {
  height: 44px;
  width: 21rem;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 5px;
  border: 3px solid transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff !important;
  cursor: pointer;
  background-color: #ff9100;
  box-shadow: 0 10px 9px -8px rgba(1, 87, 155, 0.4);
  transition: all 0.3s ease;
  outline: none;
  text-decoration: none;
  min-width: 144px;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 2rem;
  transition: background-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.Validate_btn:hover {
  background-color: #e58200;
}

.result_div {
  margin: 0 auto;
  width: 50vw;
  max-width: 50rem;
  padding: 2rem;
  background: #000000f3;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 2px 2px 10px 6px rgba(255, 255, 255, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  margin-bottom: 2rem;
  color: #888;
  border: 1px solid green !important;
}

/* TEXT ANIMATION STARTS HERE */
.header {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
  padding: 1rem 0;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.header2 {
  animation: hue 10s infinite linear;
}

.header3 {
  animation: hue 12s infinite linear;
}

/* TEXT ANIMATION ENDS HERE */
